@media (max-width: 1150px) {
  .Home {
    flex-direction: column !important;
  }

  .game-of-life {
    width: 100% !important;
  }
}

.game-of-life {
  margin: auto;
  width: 50%;
  height: 50%;
}

.Home {
  display: flex;
  flex-direction: row;
}

.TypingArea {
  font-family: JetBrainsMono;
  color: #efefef;
  padding-top: 10rem;
}

.Name {
  font-size: 5rem;
}

.carrot-indicator {
  color: #73c991;
}

.iam {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.subHeader {
  font-size: 1.5rem;
  color: #ededed;
  & .links .link-text {
    color: #ff3030;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
