.router-sidebar {
  color: #efefef;
  background-color: transparent;
  position: absolute;

  height: 100vh;

  display: flex;
  flex-direction: row;

  & .dot-container {
    & .dot {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background-color: white;
      position: relative;
      left: 2rem;
    }

    font-size: 1.5rem;
    height: 100%;
  }

  & .links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: JetbrainsMono;
    font-weight: bold;
    height: 100%;
    margin-left: 4rem;
    & a {
      color: #efefef;
      text-decoration: none;
    }
  }
}

.router-contents {
  max-height: 100vh;
  flex-grow: 1;
  flex-direction: row;

  & > div {
    padding-left: 15rem;
    height: 100vh;
    max-height: 100vh;
    background-color: #222222;
  }

  // Scrollbar stuff
  overflow-y: scroll;
  overscroll-behavior: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
